.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: relative; /* Add relative positioning for the header */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    width: 60px;
    margin-right: 2px; /* Space between logo and site name */
}

.site-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: #333; /* Dark grey color for better readability */
    letter-spacing: 1px; /* Slight spacing between letters for a more polished look */
}

.search-bar-container {
    position: relative;
    flex-grow: 1; /* Allow the search bar to use available space */
    margin: 0 20px; /* Add some margin to space it out from other elements */
}

input[type='text'] {
    padding: 5px;
    margin-top: 30px;
    width: 100%; /* Allow the input to take the full width of the container */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.hotel-names {
    position: absolute;
    top: 100%; /* Position the dropdown just below the input field */
    left: 0;
    background: white;
    border: 1px solid #ddd;
    max-height: 200px; /* Increase max-height to allow more items to be visible */
    overflow-y: auto;
    width: 100%; /* Match the width of the input field */
    z-index: 1000; /* Ensure dropdown is above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
}

.hotel-name {
    padding: 10px;
    cursor: pointer;
}

.hotel-name:hover {
    background-color: #f0f0f0;
}

.sign-out-button-container {
    display: flex;
    align-items: center;
}

.sign-out-button {
    padding: 5px 10px;
}
